@* A) Model bazlı çalışma*@
@*@model List<mvc_tutorial1.Models.Product>
<ul>
    @{
        foreach (var product in Model)
        {
            <li>  @product.ProductName => @product.Quantity pcs </li>
        }   
    }
</ul>*@
<h3>ViewBag 
@* B 1) Viewbag yapılanması=> dinamik bir şekilde çalışan efektif bir veri taşıma şekli*@
@{
        foreach (var product in ViewBag.products as List<mvc_tutorial1.Models.Product>)
    {
        <li>  @product.ProductName => @product.Quantity pcs </li>
    }
}
</h3>

<h3>ViewData
    @{
        foreach (var product in ViewData["productsList"] as List<mvc_tutorial1.Models.Product>)
        {
            <li>  @product.ProductName => @product.Quantity pcs </li>
        }
    }
</h3>

<h3>
    TempData
    @{
        foreach (var product in ViewData["productsList"] as List<mvc_tutorial1.Models.Product>)
        {
            <li>  @product.ProductName => @product.Quantity pcs </li>
        }
    }
</h3>