@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>
    Go to @Html.ActionLink("Index1", "Index1", "Home")
</h3>

@Html.TextBox("txtTest",null, new {style = "background-color:green; color:white;", placeholder = "Test Input Placeholder" })

@* HtmlHelper*@
@using mvc_tutorial1.Extensions
@Html.CustomTextBox("txtCustom", null, "Test Input Placeholder" )

@* HtmlHelper ile form => servera yük bindirir, okunurluğu düşük
@Html.BeginForm("Index", "Product", FormMethod.Post)*@

@* Tüm TagHelperlar *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@* TagHelper ile form *@
<form asp-action="Index" asp-controller="Product" method ="post" > 
    <input type ="text" />
    <select>
        <option> value = "value" text</option>
    </select>
</form>

<cache> 
    @DateTime.Now => cache oluşturur, her refreshte yenilenmez
</cache>
<br /> @*linebreak => \n yerine geçer*@
@DateTime.Now => her refreshte yenilenir

<environment names ="Development">
    @* sadece development ortamında çalışır*@
</environment>

<environment names ="Staging, Production">
    @* sadece Staging ve Production ortamlarında çalışır*@
</environment>

@* ImageHelper ETag yöntemi
<img src ="~/resim.png" asp-append-version = "true"/> => bu şekilde yapılırsa browserda cachelenmiş resim server tarafında değiştiyse bilgisi alınır ona göre işlem yapılır *@